body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #e0e7f1;
    font-family: 'Glegoo', serif;
}

.tablet-container {
    width: 400px;
    height: 550px;
    background: url('ofline.png') no-repeat center center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    position: relative;
}

.circle-wrapper {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -50px; /* להעלות את העיגול */
    z-index: 2;
}

.outer-circle {
    width: 240px;
    height: 240px;
    border-radius: 50%;
    background: linear-gradient(180deg, #2F34B8 0%, #4449CC 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
}

.inner-circle {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: #1A1E85;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wifi-icon {
    position: absolute;
    top: 5px; /* הזזתי מעט למטה */
    left: -14px; /* הזזתי מעט ימינה */
    width: 35px;
    height: 35px;
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('Wi-Fi.png'); /* כאן הכנס את שם התמונה שלך */
    background-size: cover; /* כדי שהתמונה תתאים למידות של ה-div */
    background-position: center; /* למרכז את התמונה בתוך ה-div */
}

.lines {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 3;
    width: 100%;
    height: 4px;
    top: 50%; /* למקם את הפסים באמצע העיגול */
    transform: translateY(-50%); /* כדי שהפסים יהיו באמצע */
    left: 0;
    right: 0;
}

/* כל פס (פסים החיצוניים) */
.lines .line {
    width: 25%; /* רוחב של 25% עבור הפסים החיצוניים */
    height: 4px;
    background-color: #007AFF; /* צבע כל הפסים */
    margin: 0 10px;
}

/* הפס האמצעי - עכשיו בגודל של 25% */
.lines .middle-line {
    background-color: #007AFF; /* צבע זהה לפסים החיצוניים */
    width: 25%;  /* רוחב זהה לפסים החיצוניים */
    height: 100%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%); /* למרכז את הפס האמצעי */
}
